<nav id="navbar">
  <div class="container">
    <!-- Clicking on a logo usually brings the user back to the homepage -->
    <a href="login"><img id="logo" src="images/logo.png" alt="logo"></a>
    <ul>
      <li><a href="about">About</a></li>
    </ul>
  </div>
</nav>

<div class="emailConfirmation-container">
  <h1>Please confirm your email address.</h1>

  <a href="https://icons8.com/icon/64300/send-mail"> <img id="image" src="/images/icons8-send-mail.png" alt=""></a>

  <h2>We sent the verification email to {{userEmail}}</h2>
</div>