<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

  {{{body}}}

  <footer>
    <div id="footer-container">
      <h4>Made with <i class="fa fa-heart" style="font-size:20px;color:red"></i> in Berlin by</h4>
      <a href="https://www.linkedin.com/in/dima-koushha/">Dima
        <i class="fa fa-linkedin-square" style="font-size:20px"></i></a>
      <a href="https://www.linkedin.com/in/noubar-topalian-a987b91a9/"> Noubar <i class="fa fa-linkedin-square"
          style="font-size:20px"></i></a>
      <a href="https://www.linkedin.com/in/loriel-sher/"> Loriel <i class="fa fa-linkedin-square"
          style="font-size:20px"></i></a>
    </div>
  </footer>
  <script src="/javascripts/script.js"></script>
</body>

</html>